@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 34px;
    margin: 0;
    margin-right: 0rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links a:not(.logo) {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  white-space: nowrap;
}

.nav-links a:hover {
    color: #000000;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-title {
    position: relative;
    z-index: 2;
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 250px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}
.hero-title2 {
    position: relative;
    z-index: 2;
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

.white_space {
    height: 150px;
}








#home,
#about-us,
#giveaway,
#contact-us {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.aboutus-title {
  background-color: white;
  padding: 30px;
  font-size: 2rem;
  margin: 0px;
}

.day-title {
  font-family: 'Inter', sans-serif;
  font-size: 43px;
  margin: 24px 0 12px 50px;
  color: #000;
}

.day-title-strong {
  font-weight: 600;
}

.day-title-regular {
  font-weight: 400;
}

.about-us-card-container {
  background-color: #ffffff;
  padding: 0px 0 50px 0px;
}

.about-us-gallery {
  background-color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20%;
  padding: 7% 10% 7% 10%;
}

.about-us-gallery img {
  height: 40%;
  width: 40%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
}

.card {
  flex: 0 0 300px;
  background: #ffffff;
  padding: 0rem;
  scroll-snap-align: start;
  min-height: 310px;
}

.card img {
  width: 100%;
  margin-bottom: 0.75rem;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.main-text-card {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  line-height: 1;
  color: #333;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  color: #666;
}

.footer{
    background-color: #202020;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.footer-li{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.subtitle {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 240px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.section-heading {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

 .litttle_navigation{
    background-color: #202020;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
 }
 .little_navigation-li{
    display: flex;
    list-style: none;
    gap: 119px;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    padding-top: 2rem;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    justify-content: center;

 }

 .history_text{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
 }
 .events_text{
    color: #000;  
    text-align: left;
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 3px;
    text-align: center;
 }
 .events_text2{
    color: #000;  
    text-align: left;
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 60px;
    text-align: right;
    padding-left: 45%;
    padding-right: 7%;
 }
 .events_text3{
    color: #000;  
    text-align: left;
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 60px;
    text-align: left;
    padding-left: 7%;
    padding-right: 45%;
 }
 .events_text4{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
 }
 .events_text5{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 20px;
}

 .STIEC{
  display: flex;
  width: 1439px;
  justify-content: center;
  align-items: center;
  gap: 173px;
  text-decoration: none;
  list-style: none;
  padding-left: 70px;
  
 }
 .STIEC li{
  color: #000;
  text-align: right;
  font-family: "Helvetica Neue Condensed";
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-top: 80px;
  margin-bottom: 80px;
 }
 .sustainability_section{
  background-color: #f1f1f1f1;
 }
 .mission{
  display: flex;
  width: 1430px;
  height: 607px;
  padding: 39px 62px;
  align-items: flex-start;
  gap: 52px;
  flex-shrink: 0;
  background-color: #fff;
 }
 .mission p{
  display: flex;
width: 683px;
height: 247px;
flex-direction: column;
justify-content: center;
color: rgb(0, 0, 0);
 }
 
 .p_div{
  display: flex;
  width: 772px;
  height: 358px;
  align-items: flex-start;
  gap: 885px;
  flex-shrink: 0;
 }
 .p_heading{
  padding-left: 50px;
  padding-top: 25px;
 }

 .sustainability_section2 h4{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  text-align: center;
 }
 .cards_team{
  display: flex;
  height: 557px;
  justify-content: center;
  align-items: center;
  gap: 115px;
  align-self: stretch;
 }
 .contact_us{
  display: flex;
width: 1444px;
align-items: center;
gap: 50px;
padding-top: 75px;
 }
.footer{
    background-color: #202020;
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.footer-li{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.subtitle {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 240px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.events_text--bottom-spacing {
    padding-bottom: 80px;
}

.mission--right {
    margin-left: auto;
}

.events_text--left-align {
    text-align: left;
}

.spacer {
    width: 100%;
}

.spacer--small {
    height: 30px;
}

.spacer--large {
    height: 60px;
}

.hero-title2--small {
    font-size: 60px;
}

.section-heading--top-spacing {
    padding-top: 10%;
}

.section-heading--centered {
    text-align: center;
}
