.nav_bar {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 34px;
    margin: 0;
    margin-right: 0rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links a:not(.logo) {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  white-space: nowrap;
}

.nav-links a:hover {
    color: #000000;
}
body {
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

h1 {
  font-family: "Helvetica Neue Condensed", sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  text-transform: uppercase;
  margin-top: 500;
}

.buy-ticket {
  border-radius: 50px;
  border: 0.25px solid #000;
  background: rgba(217, 217, 217, 0.2);
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-top: 430px; /* change the number as you like */
  margin-right: 100px;

}

.intro {
  max-width: 6000px;
  margin: 20px auto 60px;
  font-size: 18px;
  line-height: 1.6;
  padding: 0 20px;
  text-align: left;
  margin-right: 40%;
}

.image-section img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.info-item h4 {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.details {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.details h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details li {
  margin-bottom: 8px;
}

.map img {
  width: 50%;
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 120px;
    line-height: 100px;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .buy-ticket {
    margin-top: 20px;
    width: 200px;
    height: 80px;
  }

  .info, .details {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
