@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('fonts/HelveticaNeue-Condensed Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.nav_bar {
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 2rem 1.5rem 3rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-family: 'Helvetica Neue Condensed', sans-serif;
    font-size: 34px;
    margin: 0;
    margin-right: 0rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold; 
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links a:not(.logo) {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  white-space: nowrap;
}

.nav-links a:hover {
    color: #000000;
}
body {
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
}

h1 {
  font-family: "Helvetica Neue Condensed", sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  text-transform: uppercase;
  margin-top: 500;
}

.buy-ticket {
  border-radius: 50px;
  border: 0.25px solid #000;
  background: rgba(217, 217, 217, 0.2);
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-top: 430px;
  margin-right: 100px;

}

.intro {
  max-width: 6000px;
  margin: 20px auto 60px;
  font-size: 18px;
  line-height: 1.6;
  padding: 0 20px;
  text-align: left;
  margin-right: 40%;
}

.image-section img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.info-item h4 {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.details {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.details h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details li {
  margin-bottom: 8px;
}

.map img {
  width: 50%;
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 120px;
    line-height: 100px;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .buy-ticket {
    margin-top: 20px;
    width: 200px;
    height: 80px;
  }

  .info, .details {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.popup-overlay {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 1200;
}
.popup-overlay.active {
  display: flex;
}
.popup-content {
  position: relative;
  background: #fff;
  padding: 28px;
  border-radius: 40px;
  width: 820px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.black-rectangle {
  background-color: #000;
  padding: 20px;
  width: 783px;
  height: 392px;
  max-width: calc(100%);
  box-sizing: border-box;
  margin: 0 auto 20px;
  border-radius: 10px;
  position: relative;
  --line-width: 2px;
  --line-height: 300px;
  --line-left: 90%;
  --line-top: 10%;
}

.black-rectangle::after {
  content: "";
  position: absolute;
  left: var(--line-left);
  top: var(--line-top);
  transform: translateX(-50%);
  width: var( --line-width);
  height: var(--line-height);
  background: #fff;
  pointer-events: none;
  border-radius: 4px;
}

.black-rectangle h2 {
  color: white;
  margin: 0;
  font-family: 'Helvetica Neue Condensed', sans-serif;
  font-size: 120px;
  line-height: 110px;
  text-align: left;
  font-weight: bold;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  z-index: 1300;
  font-size: 50px;
}

.popup-buttons {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.popup-action {
  background: rgba(24, 24, 24, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
  border: 1px solid rgba(10, 10, 10, 0.2);
  border-radius: 50px;
  font-family: 'Helvetica Neue Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 30px;
  width: 240px;
  height: 70px;
}

.popup-action:hover {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


